.wrapper {
  width: 100%;
  list-style-type: none;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all ease-in 0.1s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.name {
  font-size: 1.8rem;
  margin: 0;
  font-weight: 500;
}

.book__options {
  font-size: 2.2rem;

  &:active {
    transform: scale(0.8);
  }

  &:hover > i {
    opacity: 0.7;
  }
}

// modal book detail CSS
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__content {
  padding: 16px;
  background-color: #fff;
  border-radius: 4px;
  position: relative;
  font-size: 1.8rem;
  min-width: 600px;

  & .close__btn {
    position: absolute;
    right: 8px;
    cursor: pointer;
    font-size: 3rem;
    outline: none;
    background-color: transparent;
  }

  & h3 {
    margin-top: 40px;
    text-align: center;
  }
}
